<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rk-eshop-functions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/718be2be-8be5-4e30-878d-a73244d9d7dc/resourceGroups/rk-rg/providers/Microsoft.Web/sites/rk-eshop-functions</ResourceId>
    <UserName>$rk-eshop-functions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://rk-eshop-functions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>